- hosts: web
  become: yes
  vars:
    docker_user: ubuntu
  tasks:
    - name: Install required packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - git
          - nginx
        state: present
        update_cache: yes

    - name: Install Docker
      shell: |
        curl -fsSL https://get.docker.com -o get-docker.sh
        sh get-docker.sh
      args:
        creates: /usr/bin/docker

    - name: Install Docker Compose
      shell: |
        LATEST_RELEASE=1.29.2
        DEST=/usr/local/bin/docker-compose
        curl -L "https://github.com/docker/compose/releases/download/${LATEST_RELEASE}/docker-compose-$(uname -s)-$(uname -m)" -o $DEST
        chmod +x $DEST
      args:
        creates: /usr/local/bin/docker-compose

    - name: Add user to docker group
      user:
        name: "{{ docker_user }}"
        groups: docker
        append: yes

    - name: Enable and start Docker
      systemd:
        name: docker
        enabled: yes
        state: started

    - name: Initialize Docker Swarm
      shell: docker swarm init
      ignore_errors: yes

    - name: Copy NGINX config
      copy:
        src: ../nginx/yii2.conf
        dest: /etc/nginx/sites-available/yii2.conf

    - name: Enable NGINX site
      file:
        src: /etc/nginx/sites-available/yii2.conf
        dest: /etc/nginx/sites-enabled/yii2.conf
        state: link
        force: yes

    - name: Remove default NGINX site
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent

    - name: Restart NGINX
      service:
        name: nginx
        state: restarted

    - name: Ensure Docker Swarm overlay network 'appnet' exists
      shell: docker network create --driver overlay appnet
      register: create_network
      failed_when: create_network.rc != 0 and 'already exists' not in create_network.stderr
      changed_when: "'already exists' not in create_network.stderr"

    - name: Deploy Yii2 app as Swarm service
      shell: |
        docker service create --name yii2-app \
          --publish 9000:9000 \
          --network appnet \
          tohidazure/yii2-app:latest
      ignore_errors: yes

    - name: Ensure Node Exporter is running for monitoring
      docker_container:
        name: node-exporter
        image: quay.io/prometheus/node-exporter:latest
        state: started
        restart_policy: always
        network_mode: host
        pid_mode: host
       detach: true